<div *ngIf="author">

  <h2>{{author.firstname | uppercase}} {{author.lastname | uppercase}} </h2>
  <div><span>id: </span>{{author.id}}</div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Название</th>
        <th>Кол-во страниц</th>
        <th>Жанр</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of author.booklist">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.pages}}</td>
        <td>{{item.genre}}</td>
      </tr>
    </tbody>
  </table>

</div>
