<div class="container" *ngIf="author">

  <h2>{{author.firstname | uppercase}} {{author.lastname | uppercase}} </h2>
  <div><span>id: </span>{{author.id}}</div>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Number of pages</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let item of author.booklist">
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.pages}}</td>
        <td>{{item.genre}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-success" (click)="goBack()">go back</button>
</div>

